extends layout

block content
  a(href="http://momidroppedmyipad.com")#title
    h1(style={"display":"inline-block"}).b.grande mom
    h1(style={"display":"inline-block"}).g.grande i
    h1(style={"display":"inline-block"}).d.grande droppped
    h1(style={"display":"inline-block"}).g.grande my
    h1(style={"display":"inline-block"}).f.grande ipad
  table.table
    tr
      th #
      th Name
      th Highscore
      th When
    each hs,index in highscores
      tr 
        td #{index + 1 } 
        td #{hs.nombre}
        td #{hs.puntuacion}
        td #{moment(hs.date).fromNow()}
      
  button#start.hidden Start
  button#end.hidden End
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery-ui.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/main.js")
    
