
@font-face {
    font-family: minecraftia;
    src: url(../fonts/minecraftia.ttf);
}

body {
  padding: 50px;
  font: 14px minecraftia, Helvetica, Arial, sans-serif;
  color:white;
  background-color: black
}

a {
  color: #00B7FF;
}

h1{
  color:red;
  text-align: center;
}

th{
  text-decoration: bold;
  background-color: white;
  color: black;
}

.a{
  color: #333399;
}

.b{
  color: #3399FF;
}

.c{
color: #3366CC;
}

.d{
color: #333399;
}

.e{
  color: #3366CC;
}



.f{
  color:white;
}

.pequeno{
  font-size: 1em;
}

.grande{
  font-size: 4.5em;
}


.jumbotron{
  text-align: center;
  color: #111111;
}
